<div ng-controller="BlogListController">
    <div class="row">
        <div class="col-md-3">
            <h3>Article List</h3>
            <hr/>
            <ul class="list-group">

                    <li  ng-animate="'animate'" ng-repeat="nodeItem in blog_list" ng-click="getNid(nodeItem)" class="list-group-item">
                      <div>{{ nodeItem.title }}</div>
                    </li>
            </ul>
        </div>
        <div class="col-md-9">
          <h3>{{article.title}}</h3>
            <hr ng-show="article.title.length > 0" />
            <div ng-animate="'animate'">{{article.body}}</div>
        </div>
    </div>
</div>
