<div ng-controller="BlogListController">
    <div class="row">
        <div class="col-md-3">
            <h3>Article List</h3>
            <ul class="list-group">
                <div ng-repeat="nodeItem in blog_list">
                    <li ng-click="getNid(nodeItem)" class="list-group-item">
                      <div>{{ nodeItem.title }}</div>
                    </li>
                </div>
            </ul>
        </div>
        <div class="col-md-9">
          <h3>{{article.title}}</h3>
            <hr ng-show="article.title.length > 0" />
            {{article.body}}
        </div>
    </div>
</div>
